/* Colors */
$clr-txt-dark: #2E2E2E;
$clr-txt-grey: #757575;
$clr-lt-grey: #F4F4F4;
$clr-white: #FFF;
$clr-accent-purple: #A744F5;
$clr-lt-purple: #E9D0FA;

// Dark Theme
$clr-bg-dark: #0E0E0E;

// Font Sizes
$fs-accent-50: 64px;
$fs-title-40: 24px;
$fs-title-30: 20px;
$fs-txt-20: 18px;
$fs-txt-10: 16px;

// Shadows
