@use './variables' as var;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Core */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: var.$clr-txt-dark;
}

/* Body Font Styles */
body.sans {
  font-family: Inter, sans-serif;
}

body.serif {
  font-family: 'PT Serif', serif;
}

body.mono {
  font-family: 'Source Code Pro', monospace;
}

body.dark {
  background: var.$clr-bg-dark;
}